---
import { Image } from "astro:assets";

import civiLogoWhite from "../assets/civi-logo-white.png";
import contactUsIllustration from "../assets/contact-us-illustration.svg";
import Layout from "../layouts/Layout.astro";

import ContactUsInputGroup from "../components/contact-us-input-group.astro";
---

<Layout title="Welcome to Astro.">
  <main class="p-2">
    <div class="flex mx-auto max-w text-[32px] font-semibold">צור קשר</div>
    <Image class="m-auto" src={civiLogoWhite} alt="CIVI" />
    <div class="flex flex-wrap">
      <div class="w-full sm:w-1/2 pl-2">
        <div class="flex mx-auto mt-4 mb-8 max-w text-[28px] font-semibold">
          תיאום הדגמה חינם
        </div>
        <p class="text-base/4">
          אם הגעת לכאן, כנראה שמעניין אותך להתקדם לדור הבא של מערכות גיוס
          עובדים. צוות מערכת גיוס עובדים Civi ישמח מאוד להכיר אותך ולהתאים עבורך
          פתרון מושלם.
        </p>
        <div class="my-[17px]">ניתן להשאיר פרטים כאן:</div>
        <ContactUsInputGroup />

        <button
          class="bg-gray-button mt-2 py-2 px-8 rounded text-white text-[15px] transition duration-300 hover:bg-rosy-button"
          >שליחה</button
        >
      </div>
      <div class="w-full sm:w-1/2 self-end">
        <Image
          class="mx-auto mb-1 pl-0 pr-2"
          src={contactUsIllustration}
          alt="CIVI"
        />
      </div>
    </div>
  </main>
</Layout>
