---
import { Image } from "astro:assets";

import civiLogoWhite from "../assets/civi-logo-white.png";

import SideNavigationMenu from "./side-nav-menu.astro";
---

<nav class="fixed flex h-header w-full bg-custom-black select-none">
  <div class="flex flex-1 items-center mx-auto max-w-7xl px-6 lg:px-8">
    <div class="md:hidden justify-center">
      <!-- Mobile menu button-->
      <SideNavigationMenu />
    </div>

    <a
      href="#"
      class="text-decoration justify-center min-w-14 ms-auto sm:mx-auto"
    >
      <Image
        class="self-center sm:justify-start"
        src={civiLogoWhite}
        alt="menu-icon"
        width="54"
        draggable="false"
      />
    </a>
    <div class="hidden md:flex flex-wrap justify-center mx-auto">
      <ul class="inline-flex items-center justify-evenly">
        <li>
          <a
            href="#"
            class="p-2 mx-2 text-[19px] font-medium text-white transition hover:duration-[400] hover:text-accent-light"
            >ראשי</a
          >
        </li>
        <li>
          <a
            href="#"
            class="p-2 mx-2 text-[19px] font-medium text-white transition hover:duration-[400] hover:text-accent-light"
            >אודות</a
          >
        </li>

        <li>
          <a
            href="#"
            class="p-2 mx-2 text-[19px] font-medium text-white transition hover:duration-[400] hover:text-accent-light"
            >יכולות</a
          >
        </li>
        <li>
          <a
            href="#"
            class="p-2 mx-2 text-[19px] font-medium text-white transition hover:duration-[400] hover:text-accent-light"
            >המלצות</a
          >
        </li>
      </ul>
      <ul class="inline-flex items-center justify-evenly">
        <li>
          <a
            href="#"
            class="p-2 mx-2 text-[19px] font-medium text-white transition hover:duration-[400] hover:text-accent-light"
            >Academy</a
          >
        </li>
        <li>
          <a
            href="#"
            class="p-2 mx-2 text-[19px] font-medium text-white transition hover:duration-[400] hover:text-accent-light"
            >בלוג</a
          >
        </li>
        <li>
          <a
            href="#"
            class="p-2 mx-2 text-[19px] font-medium text-white transition hover:duration-[400] hover:text-accent-light"
            aria-current="page">צור קשר</a
          >
        </li>
      </ul>
    </div>
    <div class="hidden sm:flex flex-grow-0">
      <button
        class="transition duration-300 text-custom-black-2 px-[11px] py-1 font-semibold text-[16px] bg-white me-2 whitespace-nowrap hover:bg-accent-light hover:text-white"
        ><span>תיאום הדגמה</span>
      </button>
      <button
        class="transition duration-300 text-white px-[8px] py-0.5 font-semibold text-[16px] whitespace-nowrap hover:bg-accent-light border border-white"
        ><span class="outline-dashed outline-dashed-button outline-1">
          קבלת הצעת מחיר
        </span>
      </button>
    </div>
  </div>
</nav>
