---
import { Image } from "astro:assets";

import closeModal from "../assets/close-modal.svg";

import SideNavButton from "./side-nav-button.astro";
---

<!-- Hidden checkbox to control the dialog -->
<input type="checkbox" id="dialog-toggle" class="hidden peer" />
<!-- Open dialog button, that toggles checkbox -->
<SideNavButton labelFor="dialog-toggle" />

<!-- Transparent overlay to prevent interaction while collapsing (backdrop overlay) -->
<div
  class="absolute inset-0 h-lvh collapse peer-checked:visible bg-transparent pointer-events-auto delay-300 peer-checked:delay-0"
>
</div>
<!-- Dialog backdrop -->
<label
  for="dialog-toggle"
  class="absolute inset-0 h-lvh collapse peer-checked:visible bg-black bg-opacity-80 cursor-pointer pointer-events-none peer-checked:pointer-events-auto delay-300 peer-checked:delay-0"
></label>

<dialog
  class="fixed block max-w-side-nav w-auto min-w-28 h-full max-h-[60vh] min-h-40 mr-0 bg-transparent collapse peer-checked:visible transform transition-[right, pointer-events-none] -right-full peer-checked:right-0 duration-300"
  aria-labelledby="side-navigation-menu"
>
  <div
    dir="ltr"
    class="inset-0 h-auto text-center items-start bg-accent-dark overflow-auto"
  >
    <label for="dialog-toggle" class="cursor-pointer float-start">
      <Image src={closeModal} draggable="false" width="40" alt="close-modal" />
    </label>
    <div
      class="text-white text-lg mt-11 pt-2 ml-4 hover:[&>a]:text-hover-light [&>a]:block"
    >
      <a href="#" class="p-4">ראשי</a>
      <a href="#" class="p-3">אודות</a>
      <a href="#" class="p-3">יכולות</a>
      <a href="#" class="p-4">המלצות</a>
      <a href="#" class="p-3">Academy</a>
      <a href="#" class="p-3">בלוג</a>
      <a href="#" class="p-4">צור קשר</a>
    </div>
  </div>
</dialog>

<style></style>
